{# @var view \araise\CrudBundle\View\DefinitionView #}
{% extends 'base.html.twig' %}

{% block main %}
    {% include '@araiseCrud/includes/main/_site_title.html.twig' with {'title': title, 'meta': meta, 'view': view} only %}
    <div class="whatwedo_crud-blocks whatwedo_crud-blocks--show flex flex-wrap gap-4 items-baseline">
        {% for block in view.blocks(constant('araise\\CrudBundle\\Enums\\Page::SHOW')) %}
            {% block block_definition_single_block %}
                {{ wwd_crud_render_block(block, view, constant('araise\\CrudBundle\\Enums\\Page::SHOW')) }}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
